<%- include ./partials/header.ejs %>
  <body>
    <div class="container">
      <h1>Shortener Link</h1>
      <p>Welcome! input your link to get short link</p>
      <a href="/urls/new"><button type="button" name="button">Make Short Link</button></a>
    </div>
  </body>
</html>
