<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.css">
  </head>
  <body>
    <h3>Simple Url Shortener</h3>
    <p>Welcome to Url-Shortener</p>
    <hr width="40%" align="left">
    <a class="waves-effect waves-light btn" href="/urls">INPUT URL</a>
    <a class="waves-effect waves-light btn" href="/shows">SHOW URLS</a>
  </body>
</html>