<%- include ./partials/header.ejs %>
  <body style="background-color: #ee6e73; padding: 0 50px" class="home">
    <div class="container valign-wrapper" style="height: 100vh;" id="index-banner">
      <div class="center-align" style="margin: 0 auto">
          <h1 class="header center-on-small-only">Shortener Link</h1><br>
          <p>Welcome! input your link to get short link</p><br>
          <a href="/urls/new"><button type="button" name="button" class="btn waves-effect waves-light red lighten-3">Make Short Link</button></a>
      </div>
    </div>
  </body>
</html>
