<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Latest compiled and minified CSS -->
  <title>
    URL
  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body>
  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/url">Url</a>
          </li>
        </ul>
      </nav>

    </div>
    <div class="col-md-4">
      <h3 class="text-muted">URLS</h3>
      <a href="/url/add"><button type="button" name="button"></button></a>
      <div style="margin-top:30px">
        <form class="" action="/url/count" method="post">
          <%urls.forEach(url => {%>
            <div class="row">
              <div class="col-sm-6"><a href="<%-url.url%>" target="_blank" onclick="onClick()"><%-url.short_url%></a></div>
              <div class="col-sm-6"><p name="count">counter:<%-url.counter%></p></div>
            </div>
           <%})%>
        </form>

      </div>
    </div>

  </div>

</body>

</html>
